# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# package directories
node_modules
jspm_packages

# Serverless directories
.serverless
.webpack/

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# IDEs
.idea/
.vscode/

# Platform specific
.DS_Store

# env variables
.env

# build
dist/
coverage/

tsconfig.tsbuildinfo
